<h1>Facts Collection</h1>

<!-- Search Form -->
<%= form_with(url: facts_path, method: :get, local: true) do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :search, value: params[:search], placeholder: "Search facts...", class: "form-control" %>
    <div class="input-group-append">
      <%= form.submit "Search", class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>

<% if @facts.any? %>
  <ul>
    <% @facts.each do |fact| %>
      <li>
        <%= link_to fact.fact, fact_path(fact) %>
      </li>
    <% end %>
  </ul>
  <%= paginate @facts %>
<% else %>
  <p>There are currently no facts available.</p>
<% end %>
